{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 card shadow-sm p-4">
        <h4 class="text-success mb-3">Agendar Nueva Cita</h4>
        <form method="POST">
            <div class="mb-3">
                <label>Nombre de la Mascota</label>
                <input type="text" name="mascota" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Propietario</label>
                <input type="text" name="propietario" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Especie</label>
                <input type="text" name="especie" class="form-control">
            </div>
            <div class="mb-3">
                <label>Fecha y Hora</label>
                <input type="datetime-local" name="fecha" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success w-100">Guardar Cita</button>
        </form>
    </div>
</div>
{% endblock %}